<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Linkly</title>
    <link rel="stylesheet" href="/LoginAndSignUp.css">
</head>
<body>
    <div class="container">
        <h2>Login to Linkly</h2>
        <form action="/user/login" method="post">
            <input type="email" placeholder="Enter your email" required name="email">
            <input type="password" placeholder="Enter your password" required name="password">
            <button class="btn" type="submit">Login</button>
        </form>
        <p>New here? <a href=<%= '/user/signUp' %>>Create an account</a></p>
    </div>
</body>
</html>
